@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 255 115 179;
        --color-secondary: 111 114 185;
        --btn-primary: 255 74 34;
        --btn-secondary: 255 127 34;
    }

    html {
        font-family: "Fira Code", system-ui, sans-serif;
    }
}
